#!/bin/bash

mkdir -p /var/cache/swift /var/cache/swift2 /var/cache/swift3 /var/cache/swift4
chown {{ swift_username }}:{{ swift_group }} /var/cache/swift*
mkdir -p /var/run/swift
chown {{ swift_username }}:{{ swift_group }} /var/run/swift

exit 0
